@{
    ViewData["Title"] = "AwayMessage";
}

@section scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript" src="~/js/flipclock.min.js"></script>
    <script type="text/javascript" src="~/js/am-screen.js"></script>

}


<div class="text-center">
    <h1 class="display-4" id="pageTitle"></h1>
    <h2 class="display-4" id="pageSubtitle"></h2>
    <p id="message"></p>
    <br /><br />

</div>

<div class="wrapper">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 align-items-center">
            <div class="" id="clockWrapper">
                <div id="clock" class="clock" style="margin:0em;"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>


